.container {
  margin-top: 24px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 50vh;
  overflow: auto;
  gap: 20px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #8585AD;
  }
}