.container {
  position: static;
  inset: 0;
  width: 680px;
  height: min-content;
  padding: 40px;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #1C1C21;
  border-radius: 40px;
  z-index: 100;

  &Header {
    display: flex;
    justify-content: space-between;

    &Button {
      background: none;
      padding: 0;
      margin: 0;
      border: none;
      cursor: pointer;
    }
  }
}

.popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  inset: 0;
  z-index: 3;
}